{:source-paths ["src" "test"]
 :dependencies []
 :dev-http     {8080 "target/"}
 :builds       {:app  {:output-dir "target/"
                       :asset-path "."
                       :target     :browser
                       :modules    {:main {:init-fn propeller.main/main!}}}
                :test {:extra-paths ["src"]
                       :target    :node-test
                       :output-to "out/node-tests.js"}}}
